@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER CSS */
.header{
  background-color: #333;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
header{
  background-color: #333;
  margin: auto 40px;
}
.logo.jual{
  color: #D11024;
}
.logo.jual span{
  color: #fff;
}

/* MOST POPULAR SECTION */
#most-popular-games{
  margin-top: 35px;
  background: linear-gradient(to bottom, #fff 5%, #1d1d1d 0% ); /* Half black, half white */
}
.most-popular-title{
  background: linear-gradient(to bottom, #fff 50%, #1d1d1d 50% ); /* Half black, half white */
}
.most-popular-title .skew-container {
  background-color: #333;
  border: solid #d10024 6px;
  border-top: 0px;
  border-left: 0px;
  transform: skew(-20deg); /* Apply the skew in the opposite direction */
  display: inline-block;
  margin-left: 20px;
  padding: 12px;
  margin-bottom: 5px;
}
.most-popular-title h5 {
  color: #fff;
  transform: skew(20deg); /* Reverse the skew for the text */
  display: inline-block;
  max-height: 20px;
  margin: 0;
}
#most-popular-content{
  padding: 20px 10px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#most-popular-content .item{
  background-color: #333;
  border: solid #d10024 8px;
  border-top: 0px;
  border-left: 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#most-popular-content .item:hover{
  border: solid #d10024 3px;
  border-top: 0px;
  border-left: 0px;
  border-radius: 20px;
  background-color: #434343;
}

#most-popular-content .item span{
  text-wrap: balance;
  color: #fff;
  text-align: center;
  max-width: 100px;
  min-width: 100px;
  min-height: 50px;
  margin-bottom: 5px;
}

#most-popular-content .item img{
  margin: 10px 0px;
  border-radius: 10px;
  max-height: 75px;
  max-width: 75px;
}

/* STORE CONTAINER / SECTION */
#store-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
}
#store-container button{
  text-align: start;
}

/* LOGIN & REGISTER FORM CSS */
#login, #register{
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(30, 31, 41);
}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;

  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;

  background: #d10024;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input, form .input-box button{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;

  border-bottom-width: 2.5px;

  border-radius: 6px;

  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #aac1ff;

}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button button{
  color: #fff;
  letter-spacing: 1px;
  border: none;

  background: #d10024;
  cursor: pointer;
}
.input-box.button button:hover{
  background: #b10421;
}
.input-box.button button:disabled{
  background: grey;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 button{
  border: 0px;
  background-color: #fff;
  color: #d10024;
  text-decoration: none;
}
form .text h3 button:hover{
  text-decoration: underline;
}
